/* CSS Document */

/*Algemene styling*/

*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
    margin:0;  
    font-family: 'Signika Negative', sans-serif;
    display: flex;
    cursor: url("../images/Pokeball-Cursor.png"), auto;
}

button:not([disabled]) {
  cursor:pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-main: rgb(0,0,70);
    --color-text-details: rgb(240,200,0);
    --color-buttons: rgb(240,200,0);
    --color-page2: rgb(243, 239, 200);
    --color-background-images: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) );
    --color-info-text-background: rgba(0, 0, 0, 0.5);
    --box-border-blur: rgba(0,0,0,1);
    
    --jolteon-glow: hsl(62, 100%, 50%);
    --vaporeon-glow: hsl(193, 100%, 50%);
    --flareon-glow: hsl(20, 100%, 50%);
    --espeon-glow: hsl(194, 100%, 80%);
    --umbreon-glow: hsl(194, 100%, 60%);
    --leafeon-glow: hsl(131, 100%, 68%);
    --glaceon-glow: hsl(203, 100%, 89%);
    --sylveon-glow: hsl(306, 100%, 80%);
}


/********************/
/* ALGEMENE STIJLEN */
/********************/
body {
  background-color:var(--color-main);
}

/* De lijst */
ol {
	width:100vw;
	height:100vh;
	display:flex;
	overflow:hidden;
	list-style:none;
	padding:0;
	margin:0;
	scroll-behavior:smooth;
    transition: 1s;
}

ol li {
	position:relative;
	width:100vw;
	height:100vh;
	flex-shrink:0;
}

/*Shortcut menu*/

button {
    display: flex;
    position: fixed;
    top: 1em;
    left: 1em;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border-style: none;
    background-color: var(--color-buttons);
    background-image: url("../images/button-hamburger.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 200;
    transition: 0.5s;
}

ul {
    opacity: 0;
}

/*Shortcut menu class die vanuit javascript wordt meegegeven*/

.navigation-menu{
    position: absolute;
    width: 10em;
    height: 17em;
    background-image: none;
    background-color: var(--color-buttons);
    border-radius: 5%;
    opacity: 1;
    list-style: none;
    transition: 1s;
}

.navigation-menu ul{
    opacity: 1;
    list-style: none;
    margin-top: 0.7em;
    margin-left: -0.5em;
    transition: 1.5s;
}

.navigation-menu ul li {
    margin-top: 0.5em;
}

.navigation-menu li a{
    color: var(--color-main);
    text-decoration: none;
}

/*Styling van navigatieknoppen met hover/focus states*/

a.prev,
a.next {
	position:absolute;
	top:calc(50% - 2.5em);
	width:4em;
	height:4em;
	background-color: var(--color-buttons);
	border-radius:50%;
    background-size: cover;
	display:grid;
	place-items:center;
	z-index:100;
}

a.prev {
	left:2em;
    background-image: url("../images/button-back.png");
    transition: 0.5s;
}

a.next {
	right:2em;
    background-image: url("../images/button-next.png");
    transition: 0.5s;
}

a.prev:hover{
	left:2em;
    background-image: url("../images/button-back-hover.png");
    z-index:100;
}

a.next:hover{
	right:2em;
    background-image: url("../images/button-next-hover.png");
    z-index:100;
}

a:focus{
    border: solid 1em var(--color-buttons);
}

p a:focus{
    border: solid 0.2em var(--color-buttons);
}

/*Algemene styling van hoofdmenu en sections*/

section {
	position:relative;
	width:100vw;
	height:100vh;
}

#page1{
    background-color: var(--color-main);
    text-align: center;
}

section img {
    width: 20em;
}

h1 {
    color: var(--color-text-details);
    margin: -2em;
    text-shadow: 0 0 0.2em var(--color-main);
}

#page1 p{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: var(--color-text-details);
    margin-top: 10em;
    width: 40em;
    flex-wrap: wrap;
}

#page1 p+p{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: var(--color-text-details);
    margin-top: 1em;
    width: 40em;
    flex-wrap: wrap;
}

/* Sections voor infopagina's */

ol li:not(:first-of-type) {
    background-position: center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#page2{
    background-color: var(--color-page2);
}

#page3{
    background-image: var(--color-background-images), url("../images/ThunderStone.png");
}

#page4{
    background-image: var(--color-background-images), url("../images/WaterStone.png");
}

#page5{
    background-image: var(--color-background-images), url("../images/Fire.jpg");
}

#page6{
    background-image: var(--color-background-images), url("../images/Light.jpg");
}

#page7{
    background-image: var(--color-background-images), url("../images/Night.jpg");
}

#page8{
    background-image: var(--color-background-images), url("../images/Forest.jpg");
}

#page9{
    background-image: var(--color-background-images), url("../images/IceCave.jpg");
}

#page10{
    background-image: var(--color-background-images), url("../images/Contest.jpg");
}

/*Styling van grid voor afbeelding en tekst*/

section section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 38vw;
    height: 55vh;
    margin-top: 5em;
    background-color: var(--color-info-text-background);
    box-shadow: 0 0 0.5em var(--box-border-blur);
}

section section img{
    width: 13vw;
    place-items: center;
    margin: 2em;
}

#page2 section section img{
    filter: drop-shadow(0.1em 0.1em 2em var(--color-page2));
}

#page3 section section img{
    filter: drop-shadow(0.1em 0.1em 2em var(--jolteon-glow));
}

#page4 section section img{
    filter: drop-shadow(0.1em 0.1em 2em var(--vaporeon-glow));
}

#page5 section section img{
    filter: drop-shadow(0.1em 0.1em 2em var(--flareon-glow));
}

#page6 section section img{
    filter: drop-shadow(0.1em 0.1em 2em var(--espeon-glow));
}

#page7 section section img{
    filter: drop-shadow(0.1em 0.1em 2em var(--umbreon-glow));
}

#page8 section section img{
    filter: drop-shadow(0.1em 0.1em 2em var(--leafeon-glow));
}

#page9 section section img{
    filter: drop-shadow(0.1em 0.1em 2em var(--glaceon-glow));
}

#page10 section section img{
    filter: drop-shadow(0.1em 0.1em 2em var(--sylveon-glow));
}

section section p {
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
    color: var(--color-text-details);
    
}

section section p:nth-of-type(1){
    margin-top: auto;
    margin-bottom: auto;
}

section section p:nth-of-type(2){
    grid-row-start: 2;
    grid-column: span 2;
    margin-top: -1em;
}

section section p:nth-of-type(3){
    margin-top: -0.5em;
    grid-row-start: 3;
    grid-column: span 2;
}

section section p:nth-of-type(3) a, section section p:nth-of-type(3) a:visited{
    color: var(--color-text-details);
}