/* CSS Document */

/*Algemene styling*/

*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
    height:100%;
    margin:0;  
    font-family: 'Signika Negative', sans-serif;
    display: flex;
    flex-direction: row;
}

button:not([disabled]) {
  cursor:pointer;
}

/*Styling van hoofdmenu*/

.hoofdmenu{
    background-color: rgb(0 0 70);
    width: 90vw;
    text-align: center;
}

.shortcutmenu{
    background-color: rgb(240,200,0);
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border-style: none;
    bottom: 0;
    position: absolute;
    top: 1em;
    left: 1em;
}

.hoofdmenu img{
    width: 20em;
}


h1 {
    color: rgb(240,200,0);
    margin: -2em;
}

.hoofdmenu p{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: rgb(240,200,0);
    margin-top: 10em;
    width: 40em;
    flex-wrap: wrap;
}

.hoofdmenu p+p{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: rgb(240,200,0);
    margin-top: 1em;
    width: 40em;
    flex-wrap: wrap;
}

/*Styling van navigatiebalken*/

.navigatie{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    background-color: rgb(243, 239, 227);
}

.navigatie button{
    background-color: rgb(240,200,0);
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border-style: none;
    bottom: 0;
}

/*Styling van infopagina*/

article{
    background-color: rgb(243, 239, 200);
    width: 80vw;
    text-align: center;
}

article img{
    width: 20em;
}

article h1{
    color: rgb(240,200,0);
    margin: -2em;
}

article section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 30em;
    margin-top: 6em;
    margin-top: 5em;
}

article section img{
    padding: 1em;
    width: 15em;
}


